
@{
    ViewBag.Title = "Student Portal";
}


<link rel="stylesheet" type="text/css" href="~/Content/Login.css" />
<link rel="stylesheet" type="text/css" href="~/Content/Student.css" />
   

<div class="background">
    <div class="row text-center">
        <h2 class="student-index-h2">WELCOME TO STUDENT PORTAL</h2>
        <div class="col-md-6">
            <div>
                <a href="~/Student/Report">
                    <img style="margin-top: 80px" src="~/Content/img/ReportPicture.png" class="center">
                    <br />
                    <span style="display: block; text-align: center; font-size:2.5em; color: #fff;">
                        View Progress
                    </span>
                </a>
            </div>

        </div>
        <div class="col-md-6">
            <a href="~/Student/Default">
                <img style="margin-top: 80px;" src="~/Content/img/GameIcon.png" class="center">
                <br />
                <span style="display: block; text-align: center; font-size:2.5em; color: #fff;">
                    Play Game
                </span>
            </a>
        </div>
    </div>
    </div>
