@{
    ViewBag.Title = "Student Login";
}

<link rel="stylesheet" type="text/css" href="~/Content/Student.css" />
<link rel="stylesheet" type="text/css" href="~/Content/Login.css" />

    <div class="background">
        <div class="row text-center">

            <div class="form">

                <div id="login">
                    <h1> Welcome Back to Nova Town! </h1>

                    <form action="/" method="post">
                        
                        <div class="cols-md-6 col-md-offset-3 text-center">
                            <div class="field-wrap">
                                <label>
                                    Email Address<span class="req">*</span>
                                </label>
                                <input type="email" required autocomplete="off" />
                            </div>
                            <div class="field-wrap">
                                <label>
                                    Password<span class="req">*</span>
                                </label>
                                <input type="password" required autocomplete="off" />
                            </div>
                        </div>

                        <p class="forgot"><a href="#">Forgot Password?</a></p>
                    
                        <a href="~/Portal/Index" class="button button-block">Log In</a>

                    </form>

                </div>

            </div>
            <!-- /form -->
        </div>
   </div>


