@{
    ViewBag.Title = "Student Intro";
}

<div class="bgcolor-intro">
    <div class="row text-center">
    <h2 class="intro-h2">@ViewBag.Title</h2>

        <div class="intro-container">

            <h3 class="progress-h3">Progress</h3>
            <p class="intro-p">Students can check their progress in the <b>View Progress</b> 
                section after logging in from the <b>Student</b> section. They can check their total and average attendance hours, including their
                best days and which days they were absent. These can be seen by month or year. They can also view
                all the shops they made and visit/modify them if they wish.
            </p>

            <h3 class="game-h3">Game</h3>
            <p class="intro-p">Students can play a game in the <b>Play Game</b> section 
                after logging in. They can see their own shop they made, visit the community 
                to see other students' shops, check out the marketplace to buy/sell items for their shop, and go 
                to the avatar page to create or modify their avatar. They can also logout from the game section if they wish.
            </p>
        </div>
    </div>
</div>

