<!--ADMIN INDEX -->
@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" type="text/css" href="~/Content/Login.css" />

    <div id="background3">
        <div class="row text-center">
            <h2 id="mainAdminTitle">WELCOME TO ADMIN PORTAL</h2>

            <div class="col-md-6">
                <div>
                    <a href="~/Admin/Manage">
                        <img style="margin-top: 80px;" src="~/Content/img/defaultReportIcon.png" class="center">
                        <br />
                        <span style="display: block; text-align: center; font-size:2.5em; color: #fff">
                            Manage Students
                        </span>
                    </a>
                </div>

            </div>
            <div class="col-md-6">
                <a href="~/Admin/Calendar">
                    <img style="margin-top: 80px;" src="~/Content/img/defaultCalendarIcon.png" class="center">
                    <br />
                    <span style="display: block; text-align: center; font-size:2.5em; color: #fff">
                        Manage Calendar
                    </span>
                </a>
            </div>
        </div>
    </div>
