
@{

    ViewBag.Title = "Game Portal";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="~/Content/Login.css" />
<link rel="stylesheet" type="text/css" href="~/Content/Student.css" />

<div class="background">
    <div class="row text-center">
        <h1 class="student-header" align="center">Nhu's Moo Shoppe</h1>
        <div id="studentnavicons">
            <a href="~/Student/Default" title="Store"><i class="fas fa-store-alt"></i></a>
            <a href="~/Student/Community" title="Community"><i class="fas fa-map-signs"></i></a>
            <a href="~/Student/Market" title="Marketplace"><i class="fas fa-shopping-cart"></i></a>
            <a href="~/Student/Avatar" title="Avatar"><i class="fas fa-user"></i></a>
            <a href="~/Portal/Logout" title="Logout"><i class="fas fa-sign-out-alt"></i></a>
        </div>
    </div>
    <img src="~/Content/img/Student Market/Market_demo6.png" class="img-responsive" />
</div>
