
@{
    ViewBag.Title = "My Progress";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="~/Content/Login.css" />
<link rel="stylesheet" type="text/css" href="~/Content/Student.css" />

<script>
    function openTab(cityName) {
        var i;
        var x = document.getElementsByClassName("city");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        document.getElementById(cityName).style.display = "block";
    }
</script>

<div class="background">
    <div class="row text-center">
        <h2 class="my-progress-h2" align="center">My Progress</h2>
        <div class="col-md-12">

            <div id="main-menu-student" class="col-md-9 pull-right" style="display: inline-block">
                @Html.ActionLink("Student Menu", "Index", "Portal", null, new { @class = "btn btn-primary" })
            </div>
            <div class="w3-bar">
                <button class="w3-bar-item w3-button w3-white" onclick="openTab('Month')">Month</button>
                <button class="w3-bar-item w3-button w3-white" onclick="openTab('Year')">Year</button>
                <button class="w3-bar-item w3-button w3-white" onclick="openTab('Shops')">My Shops</button>
            </div>

            <div class="col-md-12">
                <div id="Month" class="w3-container city">
                    <div class="span5">
                        <h3>Month</h3>
                    </div>

                    <div class="w3-content w3-display-container">
                        <div class="slideButtonLeft"><button class="w3-button w3-white w3-display-left" onclick="plusDivs(-1)">&#10094;</button></div>
                        <div class="slideButtonRight"><button class="w3-button w3-white w3-display-right" onclick="plusDivs(1)">&#10095;</button></div>
                        <div class="student-report"><img class="mySlides" src="~/Content/img/studentApril.png" id="wireframe-student" /></div>
                        <div class="student-report"><img class="mySlides" src="~/Content/img/studentMay.png" id="wireframe-student" /></div>
                        <div class="student-report"><img class="mySlides" src="~/Content/img/studentMarch.png" id="wireframe-student" /></div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div id="Year" class="w3-container city" style="display:none">
                    <div class="span5">
                        <h3>Year</h3>
                    </div>

                    <div class="w3-content w3-display-container">
                        <img class="shops" src="~/Content/img/YearChartCopy.png" />
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div id="Shops" class="w3-container city" style="display:none">
                    <div class="span5">
                        <h3>My Shops</h3>
                    </div>

                    <div class="w3-content w3-display-container">
                        <img class="shops" src="~/Content/img/MyShops.png" style="width: 780px; margin-left: 40px;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


  <script>
                var slideIndex = 1;
                showDivs(slideIndex);

                function plusDivs(n) {
                    showDivs(slideIndex += n);
                }

                function showDivs(n) {
                    var i;
                    var x = document.getElementsByClassName("mySlides");
                    if (n > x.length) { slideIndex = 1 }
                    if (n < 1) { slideIndex = x.length }
                    for (i = 0; i < x.length; i++) {
                        x[i].style.display = "none";
                    }
                    x[slideIndex - 1].style.display = "block";
                }
  </script>

